.ant-layout-header {  
    height: 60px;
    padding: 0px 0px;
    color: #FFFFFF;
    line-height: 60px;
    background: #3F51B5;
}
.user-avatar {
    text-align: center;
    height: 150px;
    padding: 20px;
    border-bottom: 1px solid black;
}
